* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
}

a {
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

body {
    background-color: #428433;
    font-family: 'League Spartan', sans-serif;
}

#title {
    color: #FFF42C;
    font-size: 2rem;
    position: absolute;
    top: 10px;
    right: 10px;
}
