body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #1fbaed; 
}

#title-container {
  text-align: center;
}

.banner {
  width: 100%;
  height: auto;
}

#container {
  display: flex;
  height: calc(100vh - 60px); 
}

#sidebar {
  width: 300px;
  background-color: #5FBF97;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative; 
}

#logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logos img {
  width: 50px;
  margin-bottom: 10px;
}

#search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

#search-results {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  width: calc(100% - 40px); /* Adjust based on sidebar padding */
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.search-result-item {
  padding: 10px;
  cursor: pointer;
}

.search-result-item:hover {
  background-color: #f0f0f0;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.legend-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.legend-item p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 0;
}

#map-container {
  flex-grow: 1;
  position: relative;
}

#map {
  height: 100%;
  width: 100%;
}

.custom-popup {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
}

.custom-popup img {
  width: 50px;
  cursor: pointer;
}

.custom-popup img:hover {
  transform: scale(1.1);
}
